<html>
    <head>
        <title><%= titulo %></title>

    </head>
    <body>

        <h2>Editor</h2>
        
        <form action="/ejecutar" method="POST">
            <textarea name="codigo"><%= codigo %></textarea>
            <input type="submit" value="Ejectuar">
        </form>

        <h2>Consola</h2>


        <textarea name="consola"><%= consola %></textarea>
    </body>

</html>
