<html>
    <head>
        <title> Titulo</title>

    </head>
    <body>
        
        <form action="/ejecutar" method="POST">
            <textarea name="codigo"></textarea>
            <input type="submit" value="Ejectuar">
        </form>
    </body>

</html>
